/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul.a {list-style-type: circle;}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
section, div {
    height: 100%;
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
h1 {
    margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
    width: 100%;
	min-width: 100%;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 100%;
	position: absolute;
}
	.hsContent h1  {
		color: #000000;
		padding: 10px 10px;
		margin-bottom: 15px;
	}
	.hsContent p {
		color: #000000;
        padding: 10px 10px;
        margin-bottom: 0px;
	}
    .hsContent p + p {
        text-indent: 1.5em;
        margin-top: 20px; 
    }
	.hsContent a {
		color: #000000;
		text-decoration: underline;
	}

/* ==========================================================================
   Footnotes
   ========================================================================== */

.footnote-ref {
    color: #000000;
}

.footnotes {
    height: auto;
    margin-top: 50px;
}

.footnotes ol {
    text-transform: uppercase;
}  

.note {
    font: 10px "Arimo", sans-serif;
    font-weight: bold;
}

.footnotes hr {
    display: none;
}

/* ==========================================================================
   Navigatie / Scroll
   ========================================================================== */

#menubar {
    left: 0px;
    position: fixed;
    top: 0;
    height: 45px;
    z-index: 70;
    width: 100%;
    padding: 20;
    background: #008aff;
}


#menubar ul {
    list-style-type: none;
    position: fixed;
    right: 83px;
    margin: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

#menubar li{
    float: right;
    list-style-type: none;
    padding: 8px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}


/* ==========================================================================
   Slide 1
   ========================================================================== */
#slide-1 .bcg {background-color: #ffffff}
#slide-1 .hsContent {
    top: 45px;
    font: 16px "Arimo", sans-serif;
    line-height: 30px;
    font-weight: normal;
    margin: 2%;
}


    #slide-1 .title {
        color: #000000;
        width: 600px;
        height: auto;
        position: relative;
        top: 23%;
        left: 20px;
        font: 100px "Arimo", sans-serif;
        line-height: 105px;
    }

    #slide-1 .title h2{
        font: 16px "Arimo", sans-serif;
        line-height: 20px;
        font-weight: normal;
        margin-top: 45px;
        left: 20px;
    }

/* ==========================================================================
   Slide 2
   ========================================================================== */
#slide-2 .bcg {background-color: #000000}
#slide-2 .hsContent {
}
    #slide-2 h1 {
        color: #ffffff;
        top: auto;
        font: 100px "Arimo", sans-serif;
        line-height: 105px;
        font-weight: normal;
        margin: 2%;
    }

    #slide-2 p {
        font: 14px "Arimo", sans-serif;
        line-height: 24px;
        padding: 0px 0px;
    }

    #slide-2 ul, li {
        font: 14px "Arimo", sans-serif;
        line-height: 24px;
    }

    #slide-2 h2 {
        color: #000000;
        font: 16px "Arimo", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    #slide-2 * {
      box-sizing: border-box;
    }

    #slide-2 section {
        width: 100%;
      }

    #slide-2 article {
        position: relative;
        top: 50%;
        left: 50%;
        padding: 1rem;
        text-align: left;
        transform: translate(-50%, -50%);
      }

    .left-half {
        background-color: #000000;
        float: left;
        width: 38%;
    }

    #slide-2 .title { 
        position: absolute;
        left: 10px;
        top: 0px;
        max-width: 35%;
    }

    .right-half {
        background-color: #ffffff;
        float: right;
        width: 62%;
    }

    .inner {
        display: block;
        width: 90%;
        min-width: 300px;
        margin: 10px auto;
        padding: 0px 10px 40px 10px;
        text-align: left;
        z-index: 100;
        top: 20px;
    }

    #slide-2 .inner article { 
        height: 90%;
        column-fill: auto;
        margin: 0px 0px 0px 0px;
        -webkit-column-count: 2;
        -moz-column-count:2;
        column-count: 2;
        -webkit-column-width: 300px;
        -moz-column-width:300px;
        column-width: 300px;
        -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
        -column-gap: 4em;
        -webkit-column-rule: 1px outset #ddd;
        -moz-column-rule: 1px outset #ddd;
        column-rule: 1px outset #ddd;
        overflow-y: hidden;
        overflow-x: scroll;
    }


/* ==========================================================================
   Slide 3
   ========================================================================== */
#slide-3 .bcg {background-image:url('../img/bcg_slide-3.jpg')}
#slide-3 .hsContent {
    height: auto;
}

    #slide-3 h1 {
        width: 100%;
        color: #ffffff;
        padding-top: 30px;
        font: 100px "Arimo", sans-serif;
        line-height: 90px;
        font-weight: normal;
        margin: 2%;
    }

    #slide-3 h2 {
        color: #ffffff;
        font: 28px "Arimo", sans-serif;
        padding-bottom: 5px;
        line-height: 42px;
    }

    #slide-3 p {
        color: #ffffff;
        font: 14px "Arimo", sans-serif;
        padding: 0px 0px;
    }

    #slide-3 .inner{
        width: 86%;
        position: center;
        padding-top: 10px;
    }

    #slide-3 .quote {
        width: 50%;
        padding: 0px 0px;
        position: center;
    }


/* ==========================================================================
   Slide 4
   ========================================================================== */
#slide-4 .bcg {background-color: #ffffff}
#slide-4 .hsContent {
}
       #slide-4 h1 {
        color: #000000;
        top: auto;
        font: 100px "Arimo", sans-serif;
        line-height: 90px;
        font-weight: normal;
        margin: 2%;
        vertical-align: bottom;
    }

    #slide-4 p {
        font: 14px "Arimo", sans-serif;
        line-height: 24px;
        padding: 0px 0px;
    }

    #slide-4 h2 {
        color: #000000;
        font: 14px "Arimo", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    #slide-4 * {
      box-sizing: border-box;
    }

    #slide-4 section {
        width: 100%;
      }

    #slide-4 article {
        position: relative;
        top: 50%;
        left: 50%;
        padding: 1rem;
        text-align: left;
        transform: translate(-50%, -50%);
      }

    #slide-4 .left-half {
        background-color: #ffffff;
        float: left;
        width: 100%;
    }

    #slide-4 .inner {
        display: block;
        width: 90%;
        min-width: 300px;
        margin: 10px auto;
        padding: 0px 10px 40px 10px;
        text-align: left;
        position: relative;
        z-index: 100;
    }

    #slide-4 .inner article { 
        height: 95%;
        column-fill: auto;
        margin: 0px 0px 0px 0px;
        -webkit-column-count: 3;
        -moz-column-count:3;
        column-count: 3;
        -webkit-column-width: 300px;
        -moz-column-width:300px;
        column-width: 300px;
        -webkit-column-gap: 5em;
        -moz-column-gap: 5em;
        -column-gap: 5em;
        -webkit-column-rule: 1px dotted #ddd;
        -moz-column-rule: 1px dotted #ddd;
        column-rule: 1px dotted #ddd;
        overflow-y: hidden;
        overflow-x: scroll;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
