/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #000000;
}

body {
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul.a {list-style-type: circle;}


.hsContainer {
	width: 100%;
}

.hsContent {
	max-width: 350px;
	position: absolute;
	padding: 10px 10px 10px 10px;
}
	.hsContent h1  {
		color: #000000;
		padding: 10px 10px;
		margin-bottom: 15px;
	}
	.hsContent p {
		color: #000000;
        padding: 10px 10px;
        margin-bottom: 0px;
	}
    .hsContent p + p {
        text-indent: 1.5em;
        margin-top: 20px; 
    }
	.hsContent a {
		color: #000000;
		text-decoration: underline;
	}
	.hsContent h2  {
		color: #000000;
		padding: 10px 10px;
		margin-bottom: 15px;
		text-align: center;
		text-transform: uppercase;
	}

/* ==========================================================================
   Navigatie
   ========================================================================== */

#menubar {
    left: 0px;
    position: fixed;
    top: 0;
    height: 45px;
    z-index: 70;
    width: 100%;
    background: #008aff;
}


#menubar ul {
	display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 5px 10px 10px 10px;
}

#menubar li{
	display: inline-block;
    padding: 8px 8px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav{
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    font-size: 10px;
    line-height: 10pt;
    letter-spacing: 0.04em;
    padding-left: 25px;
    display: none;
}

.nav-check{
    position: absolute;
    top: -10em;
}


.nav-check:checked ~ .nav {
    display: block;
}

.nav-label {
    cursor: pointer;
    width: 20px;
    display: inline-block;
}

.nav-open,
.nav-close {
    display: block;
    width: 100%;
}

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}
/* ==========================================================================
   Lay-out
   ========================================================================== */

.title{
	font: 25px "Arimo", sans-serif;
    font-weight: bold;
    line-height: 55px;
}

.sub-title{
	font: 20px "Arimo", sans-serif;
    font-weight: bold;
    line-height: 28px;
}

.inner{
	font: 14px "Arimo", sans-serif;
    font-weight: bold;
    line-height: 22px;
}

/* ==========================================================================
   Footnotes
   ========================================================================== */

.footnote-ref {
    color: #000000;
}

.footnotes {
    height: auto;
}

.footnotes ol {
    text-transform: uppercase;
}  

.note {
    font: 10px "Arimo", sans-serif;
    font-weight: bold;
}

.footnotes hr {
    display: none;
}
