html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background: #f6f6f6;
    color: #003;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

body {
    line-height: 1;
    color: #000;
    background: #fff;
}

html a {
    color: #003;
    text-decoration: none;
}

.article-summary a {
    text-decoration: underline;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

ol{
    list-style: none;

}

ul {
  list-style: none;
  padding-left: 20px;
  text-indent: 1%;
  font: 14px "Times New Roman",serif, bold;
  text-transform: uppercase; 
}


progress {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -20;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #ffd201;
}

progress::-webkit-progress-bar{background-color:transparent}
progress::-webkit-progress-value{background-color:#ffd201}
progress::-moz-progress-bar{background-color:transparent}
}



.article-mast a {
    text-decoration: none;
}

.article-wrapper.wrapper-loaded {
    opacity: 1 !important;
    -ms-filter: none;
    filter: none;
}

.article-wrapper {
    display: block;
    left: 50%;
    width: 90%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 auto;
    font-size: 18px;
    padding: 30px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
    line-height: 25px;
}

.article-heading {
    position: relative;
    left: 3.5%;
    width: 70%;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto 20px auto;
}

.article-body {
    width: 52%;
    position: relative;
    font: 18px Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
    margin: 0 auto 100px auto;
    text-indent: 13%;
}

.article-body sup {
    font-size: 12px;
    vertical-align: baseline;
    display: inline;
    position: relative;
    top: -.8em;
    margin-right: 2px;
    padding: 4px;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 5px;
    margin-left: 5px;
    font-weight: bold;
    border-bottom: 3px solid #ff0185;
}

.article-body p:first-of-type {
    text-indent: 0 !important;
}

.article-body blockquote {
    margin-left: 13%;
    margin-bottom: 30px;
    font: 15px "Times New Roman",serif;
    letter-spacing: 1px;
    line-height: 20px;
}

.article-author {
    font: 54px "Times New Roman",serif;
    margin: 0;
    line-height: 60px;
    text-indent: 0%;
    position: relative;
}

.article-title {
    display: inline-block;
    padding: 0;
    letter-spacing: -1px;
    text-indent: 45%;
    font: 62px Helvetica,Arial,sans-serif;
}

.article-subtitle {
    font: 18px "Times New Roman",serif;
    padding: 30px;
    letter-spacing: 1px;
    text-align: left;
    text-indent: -4%;
}

.article-body ol {
    list-style-type: decimal;
}

.article-body blockquote {
    margin-left: 13%;
    margin-bottom: 30px;
    font: 15px "Times New Roman",serif;
    letter-spacing: 1px;
    line-height: 20px;
}

.article-footnote-side .footnote-number {
    padding-left: 13%;
}

.article-footnote-side {
    position: fixed;
    width: 15%;
    top: 50%;
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
    right: 8%;
    font: small Helvetica,Arial,sans-serif;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    line-height: 16px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.footnotes {
    margin-top: 30px;
    line-height: 16px;
    text-decoration: none;
}

.footnotes ol {
    list-style-type: decimal;
    display: inline;
    font-size: 12px;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.footnotes hr {
    display: none;
}

a.footnote-ref {
}

.article-summary.article-loaded {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.article-summary {
    position: fixed;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    border-top: 1px solid #ccc;
    bottom: 0;
    background: #ffffff;
    z-index: 60;
}

.left-side {
    left: 0%;
}

.side-nav {
    width: 1%;
    height: 100%;
    position: fixed;
    top: 0%;
    display: block;
    background: none;
    -webkit-transition: background 0.18s ease;
    -moz-transition: background 0.18s ease;
    -o-transition: background 0.18s ease;
    -ms-transition: background 0.18s ease;
    transition: background 0.18s ease;
    z-index: 400;
}

.reading {
    margin-bottom: 10px;
}

.nav {
	margin: 10;
	padding: 0;
	list-style-type: none;
	background-color:#ffffff;
	display: none;
	position: absolute;
	width: 19em;
}

.nav a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: #000;
}

.nav a:hover {
	text-decoration: blink;
	color: #0054ff;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	cursor: pointer;
	width: 10px;
	postion: absolute;

}

@media print {

    nav {
        display:;
    }

}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}